@tailwind base;
@tailwind components;
@tailwind utilities;
.appbody {
    background-color: rgb(70, 70, 70);
    padding: 20px;
}

.box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.inputbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
}

.inputbox label {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.inputbox input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.submit:hover {
    background-color: #00b9d2;
}

.text1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
}