@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&display=swap');
.bill-container {
    padding: 10px;
    text-align: center;
}

.search-container {
    margin-top: 10px;
}

.Billtext {
    font-size: 50px;
    font-family: "Playwrite ES Deco", cursive;
    font-optical-sizing: auto;
    border: 2px soild black;
}

.search-input {
    padding: 5px;
    font-size: 16px;
    width: 200px;
    margin-right: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-left: 10px;
}

.search-button {
    cursor: pointer;
    margin-top: 20px;
    border: solid black 2px;
    border-radius: 5px;
}

.generate {
    margin: 10px;
}

.datebox {
    border: solid black 2px;
    width: 20%;
    border-radius: 5px;
}

.dateouterbox {
    display: flex;
    justify-content: flex-end;
    margin-top: -34px;
    margin-right: 25%;
    font-size: 109%;
}

.inputdate {
    margin-right: 10px;
}

.search-button:hover {
    background-color: #00db21;
}

.table-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 0.01px;
    background-color: #ccc;
    margin-top: 30px;
    border: 1px solid #ccc;
}

.exclebox {
    margin: 60px;
}

.excel {
    display: flex;
    justify-content: flex-end;
}

.exporttoexcel {
    background-color: rgba(0, 128, 0, 0.603);
    border: black 2px solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.boxofbill {
    border: black 2px solid;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 5px;
}

.table-header,
.table-cell {
    background-color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    min-height: 30px;
    word-wrap: break-word;
}

.table-header {
    background-color: #f0f0f0;
}

.table-row {
    display: contents;
}

.user {
    border: 2px soild black;
    margin-right: 30%;
}

.searchtext {
    margin-right: 300px;
}

@media (max-width: 768px) {
    .table-container {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }
    .table-header,
    .table-cell {
        font-size: 14px;
        /* Adjust font size for smaller screens */
    }
}