@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
.body {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.img1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    color: black;
    text-shadow: 12px 0px 10px rgba(0, 0, 0, 0.5), -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    margin-bottom: 20px;
}

.butten {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
    
}

.Person,
.Bill,
.Ledgers,
.Sentbill {
    display: flex;
    align-items: center;
    font-family: "Cabin", sans-serif;
    background-color: black;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.select-box {
    width: 100px;
    font-size: 14px;
    background-color: gray;
    margin-left: 5px;
    border-radius: 5px;
}

.login1 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
}

.login,
.Live {
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 100px;
    width: 80px;
    text-decoration: none;
    color: black;
    margin-right: 10px;
    margin-top: -30px;
    padding: 5px;
    background-color: white;
    font-family: "Cabin", sans-serif;
}

.login:hover,
.Live:hover {
    background-color: #00b9d2;
    color: white;
}

.Home {
    border: 1px solid;
    margin-right: 10px;
    display: flex;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    width: 60px;
    justify-content: center;
}

.Home1 {
    text-decoration: none;
    color: beige;
    font-family: "Cabin", sans-serif;
}

@media (max-width: 600px) {
    .text {
        font-size: large;
    }
    .select-box {
        width: 70px;
    }
    .login,
    .Live {
        width: 60px;
    }
}